@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	color: #2f2f2f;
}

h2 {
	font-size: 2.8em;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
	border-radius: 7px;
	width: fit-content;
}

.button * {
	color: white;
}

.button.default {
	padding: 0.35vw;
	background: #141417;
	color: white;
	border: 2px solid transparent;
}

.button.white {
	border: 2px solid transparent;
	padding: 1.5vh 1.8vw;
	font-size: 1em;
	font-weight: 600;
	background-color: #fff !important;
	border-radius: 35px;
}

.button.white * {
	color: #2f2f2f !important;
}

.button.primary {
	background: linear-gradient(142.51deg, #fc641e 8.65%, #ee7631 88.82%) border-box;
	border: 2px solid transparent;
	padding: 10px 40px;
	line-height: 20px;
	cursor: pointer;
	transition: all 0.3s;
	color: white;
	font-size: 18px;
	font-weight: 500;
}

.button.primary:hover {
	box-shadow: none;
	opacity: 80%;
}

body {
	padding: 2vw;
}

header {
	padding: 2vw;
	display: flex;
	align-items: center;
	z-index: 5;
	background-color: white;
	position: fixed;
	top: 0;
	width: -webkit-fill-available;
	justify-content: space-between;
}

header nav {
	gap: 1.2vw;
}

header nav,
nav ul,
header nav .buttons {
	display: flex;
	align-items: center;
}

nav i {
	font-size: 2em;
}

header nav .buttons {
	gap: 0.5vw;
}

header nav ul {
	list-style: none;
	gap: 0.7vw;
}

.logo {
	width: 4vw;
	height: fit-content;
}

.hero-section {
	background: url(../assets/montanha-e-praia-de-botafogo-no-rio-de-janeiro-brasil.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	padding: 1vw 0vw 1vw 1vw;
	border-radius: 33px 33px 0 0;
	height: 83vh;
	display: flex;
	position: relative;
	margin-top: 10vh;
	justify-content: space-between;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.container {
	width: 100%;
	position: absolute;
	top: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.247);
	left: 0;
}

.hero-section .content {
	display: flex;
	flex-direction: column;
	width: 40vw;
	gap: 5vh;
}

.hero-section .content p {
	font-size: 1.3em;
	color: white;
}

.hero-section .content h1 {
	color: white;
	font-size: 4em;
}

.carousel-wrapper {
	padding: 10vh 0 2vh 3vw;
	display: flex;
	flex-direction: column;
	z-index: 2;
	height: -webkit-fill-available;
	justify-content: space-between;
}

.carousel-control-button {
	background-color: white;
	font-size: 1.4em;
	width: 2.2vw;
	border-radius: 100%;
	height: 2.2vw;
}

.button-cursor {
	position: absolute;
	bottom: 4vh;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button-cursor i {
	color: white;
	font-size: 2vw;
}


.carousel-controls {
	position: absolute;
	bottom: 40px;
	display: flex;
	gap: 20px;
}

.search-section {
	padding: 1vw;
}

.search-section form {
	display: flex;
	gap: 1vw;
	margin-top: 3vh;
}

.cards-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2vw;
	margin-top: 5vh;
}

.group {
	display: flex;
	line-height: 28px;
	align-items: center;
	position: relative;
	width: 100%;
}

.input {
	width: 100%;
	height: 40px;
	line-height: 28px;
	padding: 0 1rem;
	padding-left: 2.5rem;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	background-color: #f3f3f4;
	color: #0d0c22;
	transition: 0.3s ease;
}

.input::placeholder {
	color: #9e9ea7;
}

.input:focus,
input:hover {
	outline: none;
	border-color: #0f1730;
	background-color: #fff;
	box-shadow: 0 0 0 4px rgba(11, 52, 235, 0.1);
}

.icon {
	position: absolute;
	left: 1rem;
	fill: #9e9ea7;
	width: 1rem;
	height: 1rem;
}

.card {
	margin: auto;
	width: min(300px, 100%);
	background-color: #fefefe;
	border-radius: 1rem;
	padding: 0.5rem;
	color: #141417;
}
.card__hero {
	background: url(https://media.staticontent.com/media/pictures/ea42c274-7263-43b7-bc2b-390e62612bfd/300x200)
		no-repeat;
	border-radius: 0.5rem 0.5rem 0 0;
	padding: 1.5rem;
	height: 147px;
	font-size: 0.875rem;
}

.card__hero-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 1rem;
	font-weight: 700;
}
.card__footer {
	display: flex;
	justify-content: flex-start;
	align-items: start;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 0.75rem;
	row-gap: 1rem;
	font-weight: 700;
	font-size: 0.875rem;
}
@media (min-width: 340px) {
	.card__footer {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
	}
}
.card__job-summary {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 0.75rem;
}
.card__btn {
	width: 100%;
	font-weight: 400;
	border: none;
	display: block;
	cursor: pointer;
	text-align: center;
	padding: 0.5rem 1.25rem;
	border-radius: 1rem;
	background-color: #141417;
	color: #fff;
	font-size: 1rem;
}
@media (min-width: 340px) {
	.card__btn {
		width: max-content;
	}
}
